appdirs==1.4.3
asgiref==1.0.0
attrs==16.3.0
autobahn==0.17.2
Automat==0.5.0
certifi==2022.12.7
cffi==1.15.1
channels==1.0.3
charset-normalizer==2.0.12
constantly==15.1.0
cryptography==39.0.0
daphne==1.0.3
Django==1.10.6
hyperlink==21.0.0
idna==3.4
incremental==16.10.1
oauthlib==2.0.1
packaging==16.8
psycopg2==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyOpenSSL==23.0.0
pyparsing==2.2.0
pypiwin32==223
pywin32==305
requests==2.13.0
requests-oauthlib==0.8.0
service-identity==21.1.0
six==1.10.0
Twisted==17.1.0
twisted-iocpsupport==1.0.2
txaio==2.6.1
typing==3.5.3.0
typing_extensions==4.1.1
urllib3==1.26.14
zope.interface==5.5.2
