<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{% static 'chatbot_tutorial/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'chatbot_tutorial/favicon.ico' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'chatbot_tutorial/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'chatbot_tutorial/css/chat.css' %}">

    <link href="{% static 'chatbot_tutorial/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>Websockets Bot</title>
</head>
<body>
<div class="container">

    <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-6 col-md-6 border border-info rounded shadow px-5 py-4 mt-auto"
             style="position: absolute; top:50%; left:50%; transform: translate(-50%, -50%)">
            <h2 class="text-center text-primary">
                {% block title %}{% endblock %}
            </h2>
            <hr>

            {% if messages %}
            {% for message in messages %}
            <div role="alert"
                 class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} text-center">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}

            {% block content %}

            {% endblock %}


        </div>
    </div>

</div>
</body>
</html>
