{% extends 'account/base.html' %}
{% block head %}
<div class="navbar navbar-default navbar-fixed-top non-error bot-box">
    <div class="container-fluid botAccentColor">
        <div class="row" style="display:flex; justify-content: space-around; margin: 10px 0;">
            <a href="{% url 'chat' %}" class="btn btn-info">Back to Bot</a>
            <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
        </div>
    </div>
</div>
<div id="wrap" class="BotMainDiv" ng-controller="ChatCtrl">
    <!-- Begin page content -->
    <div class="container-fluid" id="body-container" style="bottom: 0; top:10%">

        <div id="sub-body-container">

            <div role="alert" class="alert alert-info text-center">
                You can choose another bot calls list.
                {% for bot in bots %}
                <a href="{% url 'records' bot.id %}" class="btn btn-info btn-sm">{{ bot.text|capfirst }}</a>
                {% endfor %}<br><br>
                <strong>{{ bot.text|capfirst }}</strong> bot calls by users.
            </div>



            <div id="messages-container">
                <table class="table table-striped" style=" overflow: scroll;">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">User</th>
                        <th scope="col">Calls</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for call in calls %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ call.user }} {% if request.user == call.user %}(me){% endif %}</td>
                        <td>{{ call.calls }}</td>
                    </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </div>
            <div class="error-notification alert alert-info" style="display:none;"></div>


        </div>
    </div>
</div>


{% endblock %}